.contact-component {
  display: inline-flex;
  justify-content: center;
  width: 100vw;
  min-height: 100%;
  vertical-align: top;
  padding: $section-padding;
  padding-top: calc(100px + #{$section-padding});
  font-size: 32px;
  position: relative;

  .contact-container {
    max-width: 265px;
    margin-top: 150px;
  }

  .header {
    margin-bottom: 25px;
    font-family: $font-secondary;
  }

  .contact-text {
    @include section-text();
  }

  .contact-link {
    text-decoration: underline;
    color: $gray;
  }

  .arrow-left {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;;
    left: 50px;
    transform: translate(-50%, 0);
    cursor: pointer;

    &:hover { 
      opacity: .5; 
      transition: .2s opacity ease-in-out;
    }
  }
}