.navbar-link-component {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 6px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: lightcoral;
    border-color: lightcoral;
    transition: .5s color ease-in-out;
    transition: .5s border-color ease-in-out;
  }
}