// Colors
$black: #000;
$white: #fff;
$gray: #999;

// Fonts
$font-primary: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
$font-secondary: "Hoefler Titling A", "Hoefler Titling B", "Times New Roman", "Times", serif;

// Variables
$section-padding: 30px;